@tailwind base;
@tailwind components;
@tailwind utilities;

#home, h1 {
  font-family: 'Rubik Bubbles', sans-serif;
}
#home_banner{
  font-family: 'Belmist', sans-serif;
}
 div, input,p,span,button {
  font-family: 'Nunito', sans-serif;
}
.placeholder-white::placeholder {
  color: white;
}
/* tailwind.css 또는 프로젝트의 CSS 파일에 추가 */
@layer utilities {
  .text-outline-white {
    -webkit-text-stroke: 0.3px white; /* 웹킷 브라우저 지원 */
    text-stroke: 1px white; /* 일반적인 브라우저 지원 */
  }
}


